html,body{
    height: 100%;
}
.header,.footer{
    background-color: #4B006E;
    min-height: 10%;
    margin-left: -10;
}

.fraclass{
    height:1000px;
}
.dark {
  background-color: #121212;
  color: white;
}

.dark .header,
.dark .footer {
  background-color: #000;
}
// DARK MODE HELP US TO GET MORE MARKS
